.container{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    background-color: antiquewhite;
    min-width: 320px;
    min-height: auto;
    border: 2px solid yellowgreen;
    padding: 1rem;
}

.gi{
    display: grid;
    border: 2px solid yellowgreen;

}

.display{
    display: grid;
    grid-auto-flow: row;
    border: 2px solid yellowgreen;
}
p {
    color: aliceblue;
}